@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
  margin: 0;
  background-color: #f4f4f4;
}

.underLine {
  text-decoration: underline;
}

header {
  background-image: url("../img/banner.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 60px;
  margin-bottom: 0;
}
header hr {
  width: 500px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
header p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  font-size: 12px;
  margin-top: 30px;
}

#sect1 {
  background-color: white;
  margin: 100px 0;
  padding: 80px 0;
  text-align: center;
}
#sect1 i {
  border: 2px solid #727272;
  padding: 20px;
  border-radius: 50px;
  font-size: 40px;
  color: #727272;
}
#sect1 h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  font-weight: 500;
  font-size: 30px;
  margin-top: 50px;
  letter-spacing: 5px;
}
#sect1 p {
  font-family: Arial, Helvetica, sans-serif;
  color: #727272;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 30px;
  margin: 50px auto;
  max-width: 600px;
}
#sect1 button {
  color: #444444;
  background-color: white;
  border: 2px solid #444444;
  padding: 20px 40px;
  letter-spacing: 5px;
  border-radius: 3px;
}

.rowSect2 {
  display: flex;
  justify-content: center;
}
.rowSect2 .card {
  width: 650px;
  margin: 20px;
  background-color: white;
  text-align: center;
}
.rowSect2 .card .imgSect2 {
  position: relative;
}
.rowSect2 .card .imgSect2 h4 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  margin-top: 50px;
  letter-spacing: 5px;
  width: 100%;
}
.rowSect2 .card .imgSect2 img {
  width: 100%;
}
.rowSect2 .card p {
  font-family: Arial, Helvetica, sans-serif;
  color: #727272;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 30px;
  padding: 50px 40px 20px 40px;
}
.rowSect2 .card button {
  color: #444444;
  background-color: white;
  border: 2px solid #444444;
  padding: 20px 40px;
  letter-spacing: 5px;
  border-radius: 3px;
  margin-bottom: 50px;
}

#sect3 {
  text-align: center;
}
#sect3 h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  font-weight: 500;
  font-size: 30px;
  margin-top: 100px;
  letter-spacing: 5px;
}
#sect3 p {
  font-family: Arial, Helvetica, sans-serif;
  color: #727272;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 30px;
  margin: 50px auto;
  max-width: 600px;
}
#sect3 button {
  color: #444444;
  background-color: #f4f4f4;
  border: 2px solid #444444;
  padding: 20px 40px;
  letter-spacing: 5px;
  border-radius: 3px;
  margin-bottom: 50px;
}
#sect3 hr {
  width: 100px;
  margin-top: 50px;
  background-color: #727272;
  border: 1px solid #727272;
}

footer {
  text-align: center;
}
footer i {
  color: #727272;
  font-size: 25px;
  margin: 50px 10px 0 10px;
}
footer p {
  font-family: Arial, Helvetica, sans-serif;
  color: #727272;
  font-size: 16px;
  line-height: 30px;
  padding: 30px 40px 20px 40px;
}
footer .dottedLine {
  text-decoration: underline dotted 1px;
}

main {
  padding: 0 20px;
}

header {
  padding: 200px 20px;
}
header hr {
  width: 300px;
}

#sect2 .rowSect2 {
  flex-direction: column;
  align-items: center;
}
#sect2 .rowSect2 .card {
  width: 300px;
}
#sect2 .rowSect2 .imgSect2 {
  width: 300px;
}

/*# sourceMappingURL=style.css.map */
